.article-slider__info {
  width: 213px;
  height: 82px;
  background-color: #00926F;
  position: absolute;
  bottom: 83px;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width:767px) {
  .article-slider__info  {
    width: 178px;
    height: 68px;
    bottom: 60px;
  }
}

@media screen and (max-width:639px) {
  .article-slider__info  {
    top: 15px;
  }
}
