.article-slider__info {
  max-width: 213px;
  background-color: #00926F;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 300px;
  padding-top: 10px;
}

@media screen and (max-width:767px) {
  .article-slider__info  {
    max-width: 178px;
    margin-top: 260px;
  }
}

@media screen and (max-width:639px) {
  .article-slider__info  {
    margin-top: 0;
  }
}
