.sponsors__decoration-puzzle {
    position: absolute;
    top: -40%;
    right: 15%;
    opacity: .7;
    max-width: 100px;
}

@media screen and (max-width: 540px) {
    .sponsors__decoration-puzzle {
        left: 15%;
        max-width: 60px;
    }
}

@media screen and (max-width: 450px) {
    .sponsors__decoration-puzzle {
        max-width: 40px;
    }
}
