.about__button {
    background-color: #9A34A8;
    border-radius: 30px;
    max-width: 260px;
    min-width: 180px;
    color: #FEFEFE;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 3% 6%;
    align-self: flex-end;
    margin: 0 0 70px 0;
    border: none;
    transition: transform .7s ease;
    box-shadow: 5px 5px 15px 2px gray;
    box-sizing: border-box;
}

.about__button:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 20px 4px gray;
}

@media screen and (max-width: 750px) {
    .about__button {
        max-width: 220px;
        font-size: 14px;
        line-height: 17px;
        margin: 0 5% 60px 0;
        padding: 2% 5%;
        align-self: center;
    }
}

@media screen and (max-width: 370px) {
    .about__button {
        min-width: 110px;
        font-size: 11px;
        line-height: 14px;
        margin: 0 7% 50px 0;
    }
}
