.w-new__background-purple {
  position: absolute;
  top: 170px;
  left: 1.042%;
  width: 97.92%;
  height: 250px;
  z-index: -1;
  background-color: #6D097A
}

@media (max-width: 620px) {
  .w-new__background-purple {
    top: 165px;
    height: 240px;
  }
}

@media (max-width: 550px) {
  .w-new__background-purple {
    top: 155px;
    height: 230px;
  }
}

@media (max-width: 521px) {
  .w-new__background-purple {

    height: 185px;
  }
}

@media (max-width: 450px) {
  .w-new__background-purple {

    height: 175px;
  }
}
