.slider__title {
    margin: 45px 0 0 0;
    padding-bottom: 5px;
    padding-right: 60px;
    font-size: 50px;
    line-height: 56px;
    text-align: right;
    text-transform: uppercase;
    color: #00926F;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.slider__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.slider__title:hover {
    color: #6d097a;
}

@media screen and (max-width: 650px) {
    .slider__title {
        font-size: 40px;
        line-height: 50px;
        padding-right: 5px;
        margin: 0;
    }
}

@media screen and (max-width: 620px) {
    .slider__title {
        font-size: 36px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .slider__title {
        font-size: 32px;
        line-height: 40px;
    }
}

@media screen and (max-width: 450px) {
    .slider__title {
        font-size: 28px;
        line-height: 35px;
    }
}
