.slider__image-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(0, 0, 0, .2);
  height: 50px;
  min-height: 50px;
  width: 100%;
  margin: 0 auto 0;
  padding: 2.5px;
  font-size: 11px;
  line-height: 15px;
  color: white;
  transition: all .7s ease;
  text-transform: uppercase;

}
.slider__image-info:hover {
  background-color: rgba(0, 0, 0, .4);
}
@media screen and (max-width: 650px) {
  .slider__image-info {
    height: 40px;
    min-height: 40px;
    font-size: 8px;
    line-height: 12px;
  }
}

@media screen and (max-width: 400px) {
  .slider__image-info {
    height: 35px;
    min-height: 35px;
    font-size: 7px;
    line-height: 11px;
  }
}
