.info__button-form {
  margin-top: 50px;
  width: 183px;
  padding: 17px 5px 17px 5px;
  border-radius: 150px;
  display: flex;
  position: relative;
  align-self: center;
  background-color: #6D097A;
}

@media screen and (max-width: 641px) {
  .info__button-form {
    font-size: 14px;
    width: 127px;
    padding: 10px 5px 10px 5px;
    margin-top: 100px;
    margin-right: 85px;
    align-self: flex-end;
  }
}

@media screen and (max-width: 480px) {
  .info__button-form {
    margin-right: 55px;
  }
}

