.slider__image {
  height: 85%;
  width: 85%;
  object-fit: cover;
  margin: 0 auto 0;
  padding: 0;
  transition: all .7s ease;
}
.slider__image:hover {
  transform: scale(1.18);
}

/*@media screen and (max-width: 800px) {
  .slider__image {
    height: 120px;
    width: 170px;
  }
}*/
