.info__title {
  margin: 0;
  padding: 100px 0 50px;
  color: #6d097a;
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
  .info__title {
    padding: 100px 40px 50px 40px;
    font-size: 45px;
  }
}

@media screen and (max-width: 960px) {
  .info__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 641px) {
  .info__title {
    padding: 30px;
  }
}
