.slider__button-left_section_w-new {
  margin-right: -40px;
}

@media (max-width: 710px) {
  .slider__button-left_section_w-new {
    margin-right: -10px;
  }
}

@media (max-width: 510px) {
  .slider__button-left_section_w-new {
    margin-right: -5px;
  }
}

@media (max-width: 470px) {
  .slider__button-left_section_w-new {
    height: 20px;
  }
}

@media (max-width: 360px) {
  .slider__button-left_section_w-new {
    margin-right: 5px;
  }
}
