.header__links-element_page_news {
  margin-left: 28px;
  transition: border-bottom 0.5s cubic-bezier(0.2,-2,0.8,2);
}

.header__links-element_page_news:hover {
  border-bottom: 2px solid #6D097A;
}

@media screen and (max-width:1400px) {
  .header__links-element_page_news {
    margin-left: 18px;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .header__links-element_page_news {
    margin-left: 0px;
  }
}

