.slider__image-container {
 display: flex;
 align-items:center;
 width: 75%;
 height: 85%;
 margin: 0;
 padding: 0;
}

@media screen and (max-width: 550px) {
  .slider__image-container {
    width: 65%;
    height: 75%;
  }
}
