.slyder__swiper .swiper-pagination-bullet-active {
  background-color: #00926F;


}

.slyder__swiper .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  border: 1px solid #6D097A;


}

.swiper-pagination {
  left: 0;
}
