.slider__subtitle {
    margin: 0;
    margin-bottom: 65px;
    padding-right: 60px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
}

.slider__subtitle._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

@media screen and (max-width: 650px) {
    .slider__subtitle {
        font-size: 14px;
        line-height: 18px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 620px) {
    .slider__subtitle {
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: 450px) {
    .slider__subtitle {
        margin-bottom: 50px;
    }
}
