.slider__button-right {
    background-color: rgba(0, 0, 0, .0);
    object-fit: cover;
    height: 26px;
    padding-left: 10px;
}

@media screen and (max-width: 450px) {
    .slider__button-right {
        height: 18px;
    }
}
