.slider__purple-semicircle {
    position: absolute;
    top: 205px;
    right: 0;
    height: 280px;
    transform: rotate(180deg);
    transition: all 2s ease 0s;
    z-index: 1;
}

.slider__purple-semicircle._active {
    transform: rotate(0deg);
}

@media screen and (max-width: 650px) {
  .slider__purple-semicircle {
      height: 262px;
      top: 155px;
  }
}

@media screen and (max-width: 550px) {
  .slider__purple-semicircle {
      height: 252px;
      top: 148px;
  }
}

@media screen and (max-width: 450px) {
  .slider__purple-semicircle {
      height: 202px;
      top: 97px;
  }
}
