.w-new__subtitle {
    margin: 0;
    margin-bottom: 50px;
    padding-right: 100px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 1.5s ease;
}

.w-new__subtitle._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

@media screen and (max-width: 650px) {
    .w-new__subtitle {
        font-size: 14px;
        line-height: 18px;
        padding-right: 95px;
    }
}

@media screen and (max-width: 620px) {
    .w-new__subtitle {
        font-size: 12px;
        line-height: 14px;
        padding-right: 90px;
    }
}

@media screen and (max-width: 550px) {
    .w-new__subtitle {
        font-size: 10px;
        line-height: 12px;
        padding-right: 85px;
    }
}

@media screen and (max-width: 450px) {
    .w-new__subtitle {
        padding-right: 80px;
    }
}
