    .slider {
        position: relative;
        box-sizing: border-box;
        padding: 70px 0 50px;
        margin: auto;
        overflow: hidden;
    }

    @media (max-width: 450px) {
        .slider {
            padding: 35px 0 50px;
        }
    }
