.test__big-circle {
width: 290px;
height: 290px;
background: url(../../../images/circlebg.png);
background-repeat: no-repeat;
background-size: contain;
position: absolute;
right: 29px;
bottom: 8px;
z-index: 299;
}

@media screen and (max-width:890px) {
  .test__big-circle {
  width: 220px;
  height: 220px;
  bottom: 25px;
  right: 13px;
  }
}

@media screen and (max-width:640px) {
  .test__big-circle {
  bottom: 35px;
  right: 4px;
  }
}

@keyframes test__big-circle {

  0% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
