.test-button_place_hero {
    display: inline-block;
    font-size: 15px;
    width: 167px;
    height: 40px;
    line-height: 40px;
    transition: all 1s ease;
}

.test-button_place_hero:hover {
    transform: scale(1.1);
}

@media screen and (max-width:767px) {
    .test-button_place_hero {
        font-size: 13px;
        width: 145px;
        height: 34px;
        line-height: 34px;
    }
}
