.info__icon_type_puzzle-green {
    width: 66px;
    height: 56px;
    position: absolute;
    top: 235px;
    left: 35px;
    background-image: url("../../../../images/decor-puzzle-green.svg");
    z-index: 2;
    transform: translate(200%, 100%) rotate(180deg);
    transition: all 5s ease 0s;
}

.info__icon_type_puzzle-green._active {
    transform: translate(0px, 0px) rotate(0deg);
}

.info__icon_type_puzzle-green:hover {
    transform: rotate(180deg);
    transition: all 2s ease 0s;
}

@media screen and (max-width: 641px) {
    .info__icon_type_puzzle-green {
        top: 180px;
        left: 30px;
    }
}
